# virtual environment stuff
enpm661_env/

# videos
*.mp4

# python stuff
*__pycache__/
*.pyc

# jupyter notebook stuff
*.ipynb_checkpoints

# vim stuff
*.*.swp

# libreoffice stuff
*.~lock.*
*.odp

# ignore submitted stuff
submitted/
